html {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align:center;
      align-items:center;
  max-width:1000px;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  background: #E7DFDD;
  font-family: 'Roboto';
}

.App{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 1000px;
}

.start-menu {
  color: #0E0B16;
  margin: 1em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.start-options{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

h1 {
  font-family:'Mukta Malar';
}
ul {
  padding: 0;
  margin: 0;
}

.row {
  display: -ms-flexbox;
  display: flex;
}

.cell {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border:solid 1px;
  padding: 1em;
  background-size:contain;
}

.main-button {
  border:none;
  padding: .5em 1em;
  background: #4717F6;
  opacity: .8;
  color:#E7DFDD;
  border-radius: 5px;
  font-weight: bold;
  -webkit-transition: ease-in-out .5s all;
  -o-transition: ease-in-out .5s all;
  transition: ease-in-out .5s all;
  margin: .5em;
}

.main-button:hover{
  opacity: 1;
  -webkit-transition: ease-in-out .5s all;
  -o-transition: ease-in-out .5s all;
  transition: ease-in-out .5s all;
  cursor: pointer;
}


.character-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.character-form input {
  border: none;
  border-bottom:dashed 2px #A239CA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: rgba(0,0,0,0);
  font-size:1.3em;
  text-align: center;
  margin: .5em 0;
}

.stat-modify{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.modifier {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.modifier h3 {
  padding: 0 1em;
}

.sub-button {
  border: none;
  width: 3em;
  height: 3em;
  border-radius: 5px;
  background:  #66B2FF;
  opacity: .8;
  -webkit-transition: ease-in-out .5s all;
  -o-transition: ease-in-out .5s all;
  transition: ease-in-out .5s all;
  font-weight: bold;
}

.sub-button:hover {
  opacity: 1;
  cursor: pointer;
  -webkit-transition: ease-in-out .5s all;
  -o-transition: ease-in-out .5s all;
  transition: ease-in-out .5s all;
}

.points {
  font-weight: bold;
  font-size: 1.2em;
}

.overlay {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  padding: 0;
  margin: 0;
}

.inv-overlay-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding:1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.inv-item, .combat-weapon {
  border:solid 2px #E7DFDD;
  background: rgba(255,255,255,.2);
  border-radius:5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em;
  width:140px;
  height: 140px;
  margin: 10px;
  list-style-type: none;
  -webkit-transition:ease .5s all;
  -o-transition:ease .5s all;
  transition:ease .5s all;
}

.inv-item:hover, 
.combat-player .combat-weapon:hover {
  border: solid 2px #A239CA;
  background: rgba(162,57,222,.1);
  -webkit-transition:ease .5s all;
  -o-transition:ease .5s all;
  transition:ease .5s all;
  cursor: pointer;
  color: rgba(255,255,255,0.5);
}

.combat {
  min-width:1000px;
}
.combat .main {
  display:-ms-flexbox;
  display:flex;
  background: rgba(71, 23, 246,0.2);
  border: solid 2px rgba(0,0,0,0.5);
  border-radius: 5px;
}

.combat-info {
  width:30%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.combat-info p {
  margin:0;
}

.combat-info h1 {
  margin:.2em;
}

.combat-buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}

.combat-options {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.combat-weapon {
  width:110px;
  height:110px;
  padding: 0;
  background: rgba(0,0,0,.2);
  border-color: #000;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
}

.combat-weapon p {
  margin: 0;
}

.combat-player .combat-weapon:hover{
  color:#000;
  border-color: rgba(71, 23, 246,.8);
}

.combat-player .combat-weapon:active{
  background: rgb(71, 23, 246);
}

.main-button:disabled,
button:disabled,
.sub-button:disabled{
  opacity: .5;
}

.message-box {
  z-index:100;
  background: rgba(0,0,0,.7);
  padding:1em 0;
  border-radius: 5px;
  position: absolute;
  width:60%;
  left:20%;
  top:20%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.chump-options {
  margin: 1em;
  display: -ms-flexbox;
  display: flex;
}

.start-content .message-box {
  color:#E7DFDD;
}
.message-box .sub-button {
  width:auto;
  padding: auto;  
}

.urgent {
  background: rgb(207, 36, 36);
}

.store-list {
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.product, .option {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
  margin:1em;
  border:solid 2px rgba(0,0,0,.8);
  background: rgba(0,0,0,.2);
  border-radius: 5px;
  -webkit-transition: ease .2s all;
  -o-transition: ease .2s all;
  transition: ease .2s all;
}

.product p {
  padding: 0;
}

.option:hover {
  cursor: pointer;
  background: rgba(0,0,0,.3);
  -webkit-transition:ease .2s all;
  -o-transition:ease .2s all;
  transition:ease .2s all;
}

.dialouge-box {
  width: 70%;
  box-sizing: border-box;
  position: fixed;
  top:30%;
  left: 15%;
  background: rgba(0,0,0,.7);
  color:#E7DFDD;
  border-radius: 5px;
  padding: 1em;
  
}

.dialouge-box ul {
  list-style-type: none;
}

.dialouge-box .npc-name {
  font-weight: bold;
  font-size: 1.2em;
}

.dialouge-box .player-choice {
  border:solid 1px #E7DFDD;
  border-radius: 2px;
  padding: .5em;
  background: rgba(255,255,255,.4);
  transition:ease .5s all;
  margin: .1em 0 ;
}

.dialouge-box .player-choice:hover {
  color: #4717F6;
  cursor: pointer;
    background: rgba(255,255,255,.6);
      transition:ease .5s all;
}